/* 
  style.css 
  styleSheet
*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /*rem算出をしやすくするために 1rem=10px */
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

body {
  background: #fffde7;
  /* -webkit-text-size-adjust: 100%; */
}


* {
	float: none;
	position: static;
}

img {
	max-width: 100%;
	height: auto;
}

a {
  margin: 0 5px;
}



div {
  margin: 2%;
  text-align: center;
  font-size: 1.0rem;
  color: #999;
  font-weight: normal;
}

h1 {
  text-align: center;
  margin: 0%;
  line-height: 110%;
  color: #87ceeb;
  font-size: 2.8rem;
  font-weight: bolder;
}


h1 {
  color: #87ceeb;
  font-size: 2.8rem;
  font-weight: bolder;
  padding: 2vh;
}

h2 {
  font-size: 2.0rem;
  color: #16ceca;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
  font-weight: normal;
}

p {
  font-size: 1.6rem;
  width: 100%;
  margin: 0px 0 10px 0;
}



main {
  width: 100%;
}

.just2 {
  display: flex;
  justify-content: space-around;
}


/* ----------------------------------------------------------------------- */
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


.btn,
a.btn,
button.btn {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--BtnABC,
a.btn--BtnABC {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 0.1rem 0.5rem;
  color: #fff;
  background-color: #16ceca;
}
.btn--BtnABC:hover,
a.btn--BtnABC:hover {
  color: #fff;
  background: #d19d0d;
}

.btn--BtnBOX,
a.btn--BtnBOX {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 0.1rem 0.5rem;
  color: #fff;
  background-color: #16ce7e;
}
.btn--BtnBOX:hover,
a.btn--BtnBOX:hover {
  color: #fff;
  background: #d19d0d;
}


a.btn-solid-silver {
  color: #000;
  border-top: 4px solid #d8dcdc;
  border-right: 4px solid #666;
  border-bottom: 4px solid #333;
  border-left: 4px solid #868888;
  border-radius: 0;
  background-image: -webkit-linear-gradient(135deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
  background-image: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 34%, white 53%, #666 100%);
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

a.btn-solid-silver:hover {
  text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff;
}


.btn--BtnServo,
a.btn--BtnServo {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 3rem 2rem;
  color: #fff;
  background-color: #a09f9e;
}
.btn--BtnServo:hover,
a.btn--BtnServo:hover {
  color: #fff;
  background: #d19d0d;
}



a.btn--red {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: white;
  background: #f44336;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}


a.btn--red:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #efefeb;
  box-shadow: 0 2px 0 #eeeee8;
}


a.btn--blue {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: white;
  background: #334eff;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

a.btn--blue:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e9e9de;
  box-shadow: 0 2px 0 #efefeb;
}


a.btn--green {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: white;
  background: #0f8e06;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

a.btn--green:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e9e9de;
  box-shadow: 0 2px 0 #efefeb;
}


a.btn--yellow {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: yellowgreen;
  background: #fffb07;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

a.btn--yellow:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e9e9de;
  box-shadow: 0 2px 0 #efefeb;
}

a.btn--pink {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: white;
  background: #ffb1c1;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

a.btn--pink:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e9e9de;
  box-shadow: 0 2px 0 #efefeb;
}


a.btn--orange {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: white;
  background: #ffA500;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

a.btn--orange:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e9e9de;
  box-shadow: 0 2px 0 #efefeb;
}

a.btn--lightblue {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: white;
  background: #ADDBE6;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

a.btn--lightblue:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e9e9de;
  box-shadow: 0 2px 0 #efefeb;
}


a.btn--Lavender {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: tomato;
  background: #e6e6fa;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

a.btn--Lavender:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e9e9de;
  box-shadow: 0 2px 0 #efefeb;
}

a.btn--LightSkyBlue {
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: tomato;
  background: #67cefa;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

a.btn--LightSkyBlue:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e9e9de;
  box-shadow: 0 2px 0 #efefeb;
}


.button-reboot {
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: white;
  background: #0f8e06;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

.button-reboot:hover {
  box-shadow: none;
  /* カーソル時の影消去 */
  color: yellowgreen;
  /* 背景色     */
  background: #ffffff;
  /* 文字色     */
} 



.button-shutdown {
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 50%;
  line-height: 70px;
  width: 70px;
  height: 70px;
  padding: 0;
  color: white;
  background: #f44336;
  -webkit-box-shadow: 0 5px 0 #e4e3de;
  box-shadow: 0 5px 0 #d4d4ce;
}

.button-shutdown:hover {
  box-shadow: none;
  color: Red;
  background: #ffffff;
}

.triangle-top {
  border-style: solid;
  border-width: 0px 40px 30px 40px;
  border-color: transparent transparent #051181 transparent;
  display: inline-block;
  width: 0;
  height: 0;
}

.triangle-bottom {
  border-style: solid;
  border-width: 30px 40px 0px 40px;
  border-color: #feb64a transparent transparent transparent;
  display: inline-block;
  width: 0;
  height: 0;
}

.triangle-left {
  border-style: solid;
  border-width: 40px 40px 40px 0px;
  border-color: transparent #128c8e transparent transparent;
  display: inline-block;
  width: 0;
  height: 0;
}

.triangle-right {
  border-style: solid;
  border-width: 40px 0px 40px 40px;
  border-color: transparent transparent transparent #fb3c3c;
  display: inline-block;
  width: 0;
  height: 0;
}

/* .triangle-right2 {
  border-style: solid;
  border-width: 40px 0px 40px 30px;
  border-color: transparent transparent transparent #fb3c3c;
  display: inline-block;
  width: 0;
  height: 0;
} */



/* .triangle-left-mini {
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #128c8e transparent transparent;
  display: inline-block;
  width: 0;
  height: 0;
} */


/*  ---------------------
 以下は調整用
--------------------- */


.reset {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.button-shadow {
  text-align: center;
  box-sizing: border-box;
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  background: #447fff;
  color: #fff;
  font-weight: bold;
  padding: 13px 10px 10px;
  border-radius: 5px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);

  &:hover {
    animation: 1s flash;
  }

  &:active,
  &:focus {
    border-bottom-width: 0;
    margin-top: 5px;
    background: #ff9300;
  }
}

@keyframes flash {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.send01 input[type="submit"] {
  width: 100px;
}


.example2 {
  text-align: right;
}

.send02 input[type="submit"] {
  width: 100px;
  text-align: center;
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 15px;
  margin: 2px;
  cursor: pointer;
}

input[type="button"]:hover {
  /* マウスが載ったとき */
  background-image: linear-gradient(0deg, #68d3db, #e5f4fc);
  border: 1px solid #2c628b;
}

input[type="button"]:active {
  /* クリックされたとき */
  background-image: linear-gradient(180deg, #68d3db, #e5f4fc);
  border: 1px solid skyblue;
}



.btn_reload {
  margin-bottom: 20px;
}

.btn_reload a {
  display: block;
  width: 80%;
  max-width: 260px;
  margin: 0 auto;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #01b264;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.875rem;
  transition: .3s ease;
}

.btn_reload a:hover {
  background: #016839;
  transition: .3s ease;
}

.btn_reload a i {
  margin-right: 0.5em;
}


form .formbottom {
  text-align: center;
}

form .btns {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0%;
  padding:2px 2%;
  color: #F15A24;
  font-weight: bold;
  letter-spacing: 0.5pt;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #F15A24;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
}

form .btns:hover {
  color: #ffffff;
  background-color: #F15A24;
}