/* 
  smart-style.css 
  smartPhone 用 styleSheet
*/

img {
	max-width: 100%;
	height: auto;
}

a {
  margin: 0 5px;
}

p {
  width: 100%;
  margin: 0%
}

body {
  margin: 1%;
  width: 100%;
  font-size: 1.0rem;
  -webkit-text-size-adjust: 100%;
}


div {
  background: #fffde7;
  text-align: left;
  font-size: 1.2rem;
  font-weight: normal;
}


h1 {
  margin: 0%;
  color: #6ecf12;
  font-size: 2.0rem;
  font-weight: bolder;
}

h2 {
  margin: 0%;
  font-size: 1.5rem;
  font-weight: bold;
}
